# Application
public/app/mu-plugins/*
!public/app/mu-plugins/load.php
!public/app/mu-plugins/disallow-indexing.php
public/app/plugins/*
!public/app/plugins/index.php
public/app/upgrade
public/app/uploads/*
!public/app/uploads/index.php

# Config
config.*.php

# Data
data/*

# Codekit
public/app/themes/*/config.codekit
public/app/themes/*/sass/.sass-cache

# Assets
public/app/themes/*/style.css

# WordPress
public/wp

# Vendor (e.g. Composer)
vendor/*

# Debug log
public/app/debug.log
