# Application
public/app/mu-plugins/*
!public/app/mu-plugins/load.php
public/app/plugins/*
public/app/plugins/index.php
public/app/upgrade
public/app/uploads/*
!public/app/uploads/index.php

# Config
config/config.local.php

# Data
data/*

# Codekit
public/app/themes/*/config.codekit
public/app/themes/_s/sass/.sass-cache

# Assets
public/app/themes/*/style.css

# WordPress
public/wp

# Vendor (e.g. Composer)
vendor/*
