/**
 * Completely remove from the flow but leave available to screen readers.
 */
.u-hiddenVisually {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect( 1px, 1px, 1px, 1px );
}

.u-hiddenFade {
	opacity: 0;
	visibility: hidden;
}

/**
 * Hide on the palm - hands breakpoints.
 */
.u-plmToHnd-hidden {
	display: none;
}

@include respond-to( pad ) {
	.u-plmToHnd-hidden {
		display: block;
	}
}

