// Responsive breakpoints
$bp-mobile-landscape: 35.5em; // 568px
$bp-tablet-portrait: 48em; // 768px
$bp-tablet-landscape: 62em; // 992px
$bp-desktop: 75em; // 1200px

// Dimensions
$width-tablet-portrait: 46.875em; // 750px
$width-tablet-landscape: 60.625em; // 970px
$width-desktop: 73.125em; // 1170px