.vertical-align {
	height: 100%;
	word-spacing: -0.3em;
	
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	&__middle {
		float: none;
		display: inline-block;
		vertical-align: middle;
		word-spacing: 0;
	}
}