.vertical-align {
	height: 100%;
	word-spacing: -0.3em;

	&:before {
		display: inline-block;
		height: 100%;
		content: "";
		vertical-align: middle;
	}

	&__middle {
		display: inline-block;
		float: none;
		word-spacing: 0;
		vertical-align: middle;
	}
}