.embed {
	margin-bottom: 1em;
}

/**
 * Embedded Video
 * scale and maintain aspect ratio
 */
.embed--video {
	position: relative;
	width: 100%;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
