ul.gform_fields {
	margin: 0 -15px;
	padding: 0;
	list-style: none;
}

.gfield {
	width: 100%;
	margin-bottom: 1.25em;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	text-align: left;

	@include respond-to( tablet-portrait ) {
		width: 50%;

		&--large {
			width: 100%;
		}
	}
}

.gfield_label {
	display: inline-block;
	padding-bottom: 0.5em;

	.gform--hidden-labels & {
		@extend .screenReaderText;
	}
}

.gf_placeholder {
	.input-error & {
		color: swatch( error, 400 );
	}
}

/* Advanced inputs such as 'Name' and 'Address' */
.gfield--name {
	margin: 0;

	@include respond-to( tablet-portrait ) {
		margin-bottom: 1.25em;
	}
}

.ginput_complex {
	> span {
		width: 100%;
		margin-bottom: 1.25em;
		float: left;
	}

	.gform--hidden-labels & label {
		@extend .screenReaderText;
	}

	@include respond-to( tablet-portrait ) {
		margin: 0 -15px;

		> span {
			width: 50%;
			margin: 0;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

// The overall gravity forms error message
.validation_error {
	margin-bottom: 1.5em;
	color: swatch( error, 400 );
}

// Applied to descriptions and individual error messages
.gfield_description {
	display: inline-block;
	padding-top: 0.5em;
}

// Honeypot
.gform_validation_container {
	display: none;
}
