/* Text meant only for screen readers. */
.screenReaderText {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect( 1px, 1px, 1px, 1px );
}

.screenReaderText:focus {
	display: block;
	top: 5px;
	left: 5px;
	width: auto;
	height: auto;
	padding: 15px 23px 14px;
	border-radius: 3px;
	background-color: #f1f1f1;
	color: #222;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: normal;
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba( 0, 0, 0, 0.6 );
	z-index: zindex( skyhigh );
	clip: auto;
}
